# Express/Socket.IO backend URL
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000
DISCORD_TOKEN=MTUyMjcxMTg5NTA5Mjc2MDYONw.GFpZP8.1Wb8k0EiyAV8VGpYNrqi2KcdFNOKW_QD8WIO_k
ALERT_CHANNEL_ID=1522811369295184025